.menu-item {
  display: inline-block;
  position: relative;
  transition: 0.15s ease-in-out;
  padding-bottom: 0.5rem;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0B2342;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {

    // Change the color of the menu item when hovered
    color: #F13C45;

    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}


.nav-menu {
  background-color: white;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  padding: 1.5rem 0 1.5rem 0;

}

.menu-icon {
  display: none;
}

// Mobile version - hidden hamburger menu
@media screen and (max-width: 768px) {

  .nav-menu {
    padding-top: 10px;
    position: absolute;
    width: 100%;
  }
  .open-menu {
    opacity: 1;
    height: 150px;
  }
  .closed-menu {
    opacity: 0;
    height: 0;
    padding: 0;
  }
  .nav-content {
    flex-direction: column;
    z-index: 100;
    position: relative;
    transition: all 0.2s ease-out;
  }
  .nav-items {
    flex-direction: column;
    gap: 1rem;
  }
  .menu-icon {
    display: block;
    text-align: right;
    padding: 0.5rem 0.8rem;
    border-radius: 15%;
    transition: all 0.2s ease-in-out;
  }

  .menu-active {
    background-color: #F13C45;
    color: white;
  }
}